@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Login, Signup Form */
.form {
  border-top-left-radius: 13%;
  border-bottom-right-radius: 13%;
}

.formheader {
  @apply text-2xl font-semibold mb-6;
}
.forminput {
  @apply w-full px-4 py-2 border border-gray-300 rounded;
}

.formlabel {
  @apply block mb-2;
}
.Submitbutton {
  @apply bg-[#61C9A8] hover:bg-green-600 text-white font-bold py-2 px-4 rounded;
}
.formerror {
  @apply text-red-500 mb-5;
}
/* HabitFeed.vue */
.contentcard {
  @apply mt-11 rounded-3xl bg-white  shadow-lg p-8  mx-auto;
}

.joinButton {
  @apply text-white font-semibold py-2 mt-3 px-4 rounded hover:bg-green-600;
  background-color: #61c9a8;
}

.paginateButton {
  @apply px-4 py-2 text-white rounded-md hover:bg-green-600 my-10 mx-3;
  background-color: #61c9a8;
}

/* Create.vue */
.habitcreateCard {
  @apply bg-white shadow-lg flex-1 mx-4 p-8 mt-[17%] rounded-xl;
}
.habitCreateButton {
  @apply bg-[#61C9A8] hover:bg-green-600 text-white font-bold py-2 px-4 rounded;
}

/* ProfileEdit.vue */

.profileEditCard {
  @apply bg-white shadow-lg flex-1 mx-4 p-8 mt-[17%] rounded-xl;
}

.profileEditButton {
  @apply bg-[#61C9A8] hover:bg-green-600 text-white font-bold py-2 px-4 rounded;
}
